[Unit]
Description=Rimuove i limiti: start 0%% / stop 100%%
ConditionPathExists=/sys/class/power_supply/BAT0/charge_control_start_threshold
ConditionPathExists=/sys/class/power_supply/BAT0/charge_control_end_threshold
After=tlp.service
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'echo 0 > /sys/class/power_supply/BAT0/charge_control_start_threshold; echo 100 > /sys/class/power_supply/BAT0/charge_control_end_threshold'
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
